<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/css/images/favicon-32x32.png" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type='text/javascript' src="/js/script.js"></script>
</head>
<!-- Main section to work with grid -->
<body id='container'>
    <!-- Navigation links -->
   <div id='nav-section'> 
       <nav class='nav-bar'>
            <a href='#'><img id='logo' src='/css/images/spiral_brand_2.png' alt='' /></a>
            <a  class = 'nav-contact product-contact' href='#'>Product</a>
            <a class='nav-contact contact-button' href='/contacts'>Contact us</a>
        </nav>
    </div>
    <!-- Hero Image-->
    <div id= 'content-container'>
        <div id= 'hero'>
            <img class = 'spiral-logo' src="/css/images/spiral_logo.svg" alt="">
            <h1 class='main-text'>We are<br/> Spiral</h1>
            <h3>A better way to use your wearables' data</h3>
        </div>
        <!-- Text and images, main information about site -->
        <div id='main-section'>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo iusto dolores corrupti doloremque illo recusandae quos quam et repellendus, distinctio vel ducimus laudantium fuga. Eligendi quia sint earum dolor?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo iusto dolores corrupti doloremque illo recusandae quos quam et repellendus, distinctio vel ducimus laudantium fuga. Eligendi quia sint earum dolor?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo iusto dolores corrupti doloremque illo recusandae quos quam et repellendus, distinctio vel ducimus laudantium fuga. Eligendi quia sint earum dolor?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo iusto dolores corrupti doloremque illo recusandae quos quam et repellendus, distinctio vel ducimus laudantium fuga. Eligendi quia sint earum dolor?</p>
            <br/>
            <div class='display'>
                <img class='display-image' src="https://image.ibb.co/kGp5Zw/Wearable_Tech.jpg" alt="Wearable_Tech" border="0" />
                <div class='display-text'>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <img class='display-image' src="https://image.ibb.co/coxsEw/Algorithm_design.jpg" alt="Algorithm_design" border="0" />
            </div>
        </div>
        <!-- Footer and helpful links -->
        <div id='foot-section'>
            <footer>
                <p class = 'copyright'>©AK 2018</p>
                <a class='contact-foot' href='/contacts'>Contact us</a>
                <p class = 'follow-dir'>Follow Us</p>
                <a src='#'><img class ='facebook' src='http://www.cherithintl.org/wp-content/uploads/2014/09/Facebook_favicon_2.png' alt='' /></a>
                <a src='#'><img class ='twitter' src='http://www.clker.com/cliparts/T/V/Q/o/r/o/simple-twitter-icon-th.png' alt='' /></a>
            </footer>
        </div>
    </div>

</body>

</html>